
.loader02 {
  width: 56px;
  height: 56px;
  border: 8px solid rgba(0, 82, 236, 0.25);
  border-top-color: #0052ec;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s linear infinite;
  margin: 42px auto 0;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
